body {
  background: #fff;
  font-family: 'Rubik', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

nav.navbar-brand img {
  width: 30px;
  height: 33px;
}

.nav-login {
  color: pink;
}

.btn-yellow-brown {
  background-color: #ffba33;
  color: #6a4029;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  border: unset;
}

.btn-yellow-brown:hover {
  background-color: #fcac0d;
}

.btn-brown-white {
  background-color: #6a4029;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  border: unset;
}

.btn-brown-white:hover {
  background-color: #633015;
}

.btn-white-brown {
  background-color: #fff;
  color: #6a4029;
  padding: 10px 35px;
  border-radius: 10px;
  font-weight: 700;
  border: 2px solid #6a4029;
}

.btn-white-brown:hover {
  color: #5e290c;
  border: 2px solid #5e290c;
}

.navbar-nav .active .nav-link,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link.active {
  color: #6a4029;
}

.navbar-nav .nav-link {
  color: #4f5665;
  margin-right: 2vw;
}

.navbar-nav .nav-link:hover {
  color: #6a4029;
  margin-right: 2vw;
}

.nav-logo,
.nav-menu,
.nav-user {
  width: 33vw;
}

.coffee-shop {
  color: #0b132a;
  font-size: 20px;
}

footer {
  padding: 150px 0 30px 0;
  background-color: #f8f8f8;
}

footer img.footer-brand {
  width: 30px;
  height: 33px;
}

.footer-text {
  font-size: 16px;
  font-weight: 500;
  color: #4f5665;
}

.footer-text-2 {
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  list-style-type: none;
  padding: unset;
  line-height: 40px;
}

.footer-text-section {
  font-size: 18px;
  font-weight: 500;
  color: #4f5665;
}

.footer-text {
  font-size: 16px;
  font-weight: 500;
  color: #4f5665;
}

.product-cust .main-left {
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.product-cust .main-left .coupon-card-parent .coupon {
  font-weight: 700;
  font-size: 33px;
}

.product-cust .main-left .coupon-card-parent .btn-coupon {
  color: #fff;
  background-color: #6a4029;
  border-radius: 20px;
  width: 230px;
  line-height: 30px;
  margin-left: -45px;
}

.product-cust .main-left .coupon-card-parent .btn-coupon:hover {
  color: #fff;
  background-color: #e8ab33;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
}

.product-cust .main-left .coupon-card-parent .coupon-card {
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: -45px;
}

.product-cust .main-left .coupon-card-parent .coupon-term-condition {
  margin-left: -45px;
}

.product-cust .main-left hr {
  border: none;
  border-top: 1px dashed black;
  height: 1px;
  margin-left: -20px;
  width: 116%;
}

.product-cust .main-right {
  border-top: 1px solid lightgrey;
}

.product-cust .main-right .navbar-nav .nav-link {
  color: #9f9f9f;
}

.product-cust .main-right .navbar-nav .nav-link:hover {
  color: #6a4029;
  border-bottom: 3px solid #6a4029;
}

.product-cust .main-right .navbar-nav li.active a {
  color: #6a4029;
  font-weight: 700;
  border-bottom: 3px solid #6a4029;
}

.product-cust .main-right .product-list {
  margin-top: 70px;
}

.product-cust .main-right .product-list .card-product-link {
  margin: 0 30px 100px 0;
  text-decoration: unset;
  color: #000;
}

.product-cust .main-right .product-list .card-product-link .card-product {
  border-radius: 30px !important;
  border: unset;
  width: 10rem;
  height: 250px;
}

.product-cust
  .main-right
  .product-list
  .card-product-link
  .card-product
  .product-item {
  width: 135px;
  margin-top: -45px;
}

.product-cust
  .main-right
  .product-list
  .card-product-link
  .card-product
  .card-title {
  font-weight: 900;
  font-size: 22px;
}

.product-cust
  .main-right
  .product-list
  .card-product-link
  .card-product
  .card-text {
  font-size: 17px;
  font-weight: 700;
  color: #6a4029;
}

.product-details .main-left .product-card {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  padding: 27px 30px;
}

.product-details .main-left .product-card .delivery-btn {
  background-color: #f4f4f8;
  color: #9f9f9f;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 3px 15px;
  margin-right: 5px;
  border: 1px solid rgba(186, 186, 186, 0.35);
}

.product-details .main-left .product-card .delivery-btn.active,
.product-details .main-left .product-card .delivery-btn:hover {
  color: #fff;
  background-color: #6a4029;
  -webkit-box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
  box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
}

.product-details .main-left .product-card .set-delivery-time input {
  border: 1px solid #f4f4f8;
  border-radius: 5px;
  background-color: #f4f4f8;
  line-height: 35px;
  width: 225px;
  font-size: 13px;
  color: #9f9f9f;
}

.product-details .main-right {
  padding-top: 100px !important;
  padding-left: 3vw !important;
}

.product-details .main-right .product-detail .product-name h1 {
  font-weight: 900;
  font-size: 45px;
}

.product-details .main-right .product-detail .product-desc {
  font-size: 20px;
  line-height: 30px;
  color: #6a4029;
}

.product-details .main-right .product-detail .delivery-time {
  font-weight: 500;
  font-size: 20px;
  color: #6a4029;
  width: 300px;
}

.product-details .main-right .product-detail .count-n-price .product-amount {
  color: #6a4029;
  font-size: 20px;
  font-weight: 700;
  position: static;
}

.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .btn-min,
.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .btn-plus {
  font-weight: 700;
  color: #6a4029;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #9f9f9f;
}

.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .btn-min {
  position: absolute;
  border-right: unset;
  border-radius: 10px 0 0 10px;
}

.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .product-total-amount {
  position: absolute;
  margin-left: 25px;
  width: 30px;
  padding: unset !important;
  width: 70px;
  height: 52px;
  text-align: center;
  border: 1px solid #9f9f9f;
}

.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .btn-plus {
  position: absolute;
  margin-left: 79px;
  border-left: unset;
  border-radius: 0 10px 10px 0;
}

.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .btn-min:hover,
.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .btn-plus:hover {
  background-color: #ffba33;
}

.product-details
  .main-right
  .product-detail
  .count-n-price
  .product-amount
  .text-right
  strong {
  margin-right: 55px;
}

.product-details .main-right .product-detail .text-right {
  font-size: 30px;
}

.product-details .main-right .product-detail .text-right strong {
  margin-right: 10%;
}

.product-details .main-right .product-detail .btn-add-n-ask .btn-add,
.product-details .main-right .product-detail .btn-add-n-ask .btn-ask {
  width: 97%;
  height: 65px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  border: unset;
}

.product-details .main-right .product-detail .btn-add-n-ask .btn-add {
  color: #fff;
  background-color: #6a4029;
}

.product-details .main-right .product-detail .btn-add-n-ask .btn-ask {
  color: #6a4029;
  background-color: #ffba33;
}

.product-details .main-right .product-detail .btn-add-n-ask .btn-add:hover {
  color: #fff;
  background-color: #824e32;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
}

.product-details .main-right .product-detail .btn-add-n-ask .btn-ask:hover {
  color: #6a4029;
  background-color: #fdc451;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
}

.product-details .product-delivery-option .main-left-bottom {
  padding-left: unset;
}

.product-details .product-delivery-option .main-left-bottom .size-card {
  height: 160px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
}

.product-details .product-delivery-option .main-left-bottom .title {
  font-weight: 700;
  font-size: 25px;
}

.product-details
  .product-delivery-option
  .main-left-bottom
  .btn-size-collection
  .btn-size {
  font-weight: 700;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border: unset;
  margin-right: 25px;
  background-color: #ffba33;
}

.product-details
  .product-delivery-option
  .main-left-bottom
  .btn-size-collection
  .btn-size:hover {
  background-color: #ffae0c;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
}

.product-details .product-delivery-option .main-right-bottom {
  padding-right: unset;
}

.product-details .product-delivery-option .main-right-bottom .checkout-card {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
}

.product-details
  .product-delivery-option
  .main-right-bottom
  .checkout-card
  .desc {
  line-height: 13px;
}

.product-details
  .product-delivery-option
  .main-right-bottom
  .checkout-card
  .checkout
  span {
  margin-right: 10%;
}

.product-details
  .product-delivery-option
  .main-right-bottom
  .checkout-card
  .checkout
  .btn-checkout {
  background-color: #ffba33;
  border: unset;
  padding: 10px;
}

.product-details
  .product-delivery-option
  .main-right-bottom
  .checkout-card
  .checkout
  .btn-checkout:hover {
  background-color: #faa906;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.34);
}

.payment-page {
  background-image: url('/frontend/images/payment-bg.png');
  background-repeat: unset;
  background-size: cover;
}

.payment-page .main-left .order-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 60px 30px;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
}

.payment-page .main-right .main-right-bottom {
  padding: unset;
}

.payment-page
  .main-right
  .main-right-bottom
  div.address-card-container
  .address-card-content {
  background-color: #fff !important;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  padding: 30px 35px 10px;
  line-height: 20px;
}

.payment-page
  .main-right
  .main-right-bottom
  div.address-card-container
  .btn-confirm {
  width: 100%;
  line-height: 60px;
  background-color: #6a4029;
  font-weight: 700;
  color: #fff;
  border: unset;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 20px rgba(137, 85, 55, 0.4);
  box-shadow: 0px 10px 20px rgba(137, 85, 55, 0.4);
}

.payment-page
  .main-right
  .main-right-bottom
  div.address-card-container
  .btn-confirm:hover {
  background-color: #663215;
}

main.history-page {
  background-image: url('/frontend/images/history-bg.png');
  background-repeat: unset;
  background-size: cover;
}

main.history-page div.container div.history-list div.card {
  padding: 10px 20px 0px;
  border: unset !important;
  border-radius: 20px;
  width: 350px;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  margin: 0 13px 20px 12px;
}

main.history-page div.container div.history-list div.card .desc h5 {
  font-weight: 700;
  font-size: 18px;
}

main.history-page div.container div.history-list div.card .desc p {
  margin-top: 5px;
  color: #895537;
  line-height: 4px;
  font-size: 14px;
}

.profile-page {
  background-image: url('/frontend/images/profile-bg.png');
}

.profile-page .container {
  padding-top: 40px;
}

.profile-page .container .row {
  background-color: #fff;
  padding-top: 40px;
  border-radius: 20px;
}

.profile-page .container .row .main-left .left-container {
  padding: 0 50px;
}

.profile-page .container .row .main-right .right-container .form {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 10px 40px 55px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
  border-bottom: 10px solid #6a4029;
}

.profile-page .container .row .main-right .right-container .form h5 {
  font-weight: 700;
  font-size: 20px;
  color: #4f5665;
}

.profile-page .container .row .main-right .right-container .form .row {
  width: 100%;
}

.profile-page
  .container
  .row
  .main-right
  .right-container
  .form
  .row
  .col-lg-6
  label.title,
.profile-page
  .container
  .row
  .main-right
  .right-container
  .form
  .row
  .col-lg-4
  label.title {
  color: #9f9f9f;
  font-size: 20px;
}

.profile-page
  .container
  .row
  .main-right
  .right-container
  .form
  .row
  .col-lg-6
  input,
.profile-page
  .container
  .row
  .main-right
  .right-container
  .form
  .row
  .col-lg-4
  input {
  width: 100%;
  border-top: unset;
  border-left: unset;
  border-right: unset;
}

.profile-page
  .container
  .row
  .main-right
  .right-container
  .form
  .row
  .row.my-3.gender-radio
  .text-center
  label.gender-label.active {
  font-weight: 700;
  color: #6a4029;
}

@media (max-width: 1200px) {
  .product-cust .main-left .coupon-card-parent {
    margin-left: -12% !important;
  }
}

@media (max-width: 991px) {
  .product-cust .main-left .coupon-card-parent {
    margin-left: 26vw !important;
  }
}

@media (max-width: 576px) {
  .product-cust .main-left {
    border-right: unset;
    margin-bottom: 3vh;
  }
  .product-cust .main-left .coupon-card {
    margin-right: 10vw !important;
    width: 240px !important;
  }
  .product-cust .main-right ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .product-cust .main-right .product-list {
    margin-left: 5vw !important;
  }
  .product-cust .main-right .product-list .card-product-link {
    margin: 0 15px 100px 0;
  }
  .product-cust .main-right .card-product {
    width: 150px;
  }
  .product-details .main-left .product-card .pickup-btn {
    margin-top: 10px;
  }
  .product-details .main-right .btn-add-n-ask .btn-add,
  .product-details .main-right .btn-add-n-ask .btn-ask {
    width: 350px !important;
    height: 65px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    border: unset;
  }
  .product-details .main-right .product-detail .text-right strong {
    margin-right: unset;
  }
  .product-details .main-right-bottom .checkout-card .pic img {
    margin-left: 20%;
  }
  .product-details .main-right-bottom .checkout-card .desc .desc-text {
    text-align: center;
    margin-top: 25px;
  }
  .product-details .main-right-bottom .checkout-card .checkout {
    text-align: center;
  }
  .profile-page .container .row .main-right .right-container {
    margin-top: 50px;
  }
  .profile-page
    .container
    .row
    .main-right
    .right-container
    .form
    .row
    .col-lg-4 {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .product-cust .main-left {
    border-right: unset;
    margin-bottom: 3vh;
  }
  .product-cust .main-right ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .product-cust .main-right .coupon-card {
    width: 560px !important;
  }
  .product-cust .main-right .product-list {
    margin-left: 5vw !important;
  }
  .product-cust .main-right .product-list .card-product-link {
    margin: 0 15px 100px 0 !important;
  }
  .product-cust .main-right .product-list .card-product-link .card-product {
    width: 140px;
  }
  .product-cust
    .main-right
    .product-list
    .card-product-link
    .card-product
    .card-img-top {
    width: 120px;
  }
  .product-cust .main-right .product-list img {
    width: 120px;
  }
  .product-details .main-right .product-name h1 {
    font-size: 40px !important;
  }
  .product-details .main-right .btn-add-n-ask .btn-add,
  .product-details .main-right .btn-add-n-ask .btn-ask {
    width: 320px !important;
    height: 65px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    border: unset;
  }
  .product-details .main-right .product-detail .text-right strong {
    font-size: 25px;
  }
  .product-details .main-right-bottom .checkout-card .pic img {
    margin-left: 13%;
  }
  .product-details .main-right-bottom .checkout-card .desc .desc-text {
    text-align: center;
    margin-top: 25px;
  }
  .product-details .main-right-bottom .checkout-card .checkout {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */
